/.vscode
/a.exe
/file.c
/file.exe
/mutiple.c
/mutiple.exe
/pattern.c
/pattern.exe
/pointer.c
/pointer.exe
/quadratic.c
/quadratic.exe
/stringchange.c
/stringchange.exe
/string_array.c
/string_array.exe
/Text.txt